<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Справочник</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Телефонный справочник</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Список</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'add'%}">Добавить контакт</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Поиск</h5>
            <p class="card-text">
            <div class="row">
                <div class="col-6">
                    <form action="" method="get">
                        <div class="form-group form-row">
                            <div class="col-10">
                                <input type="text" class="form-control" name="query" placeholder="Поиск по имени">
                                <input type="hidden" name="search_by" value="name">
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-success">Поиск</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <form action="" method="get">
                        <div class="form-group form-row">
                            <div class="col-10 row">
                                <input type="text" class="form-control" name="query" placeholder="Поиск по телефону">
                                <input type="hidden" name="search_by" value="phone">

                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-success">Поиск</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Телефонные номера</h5>
            <h5 class="card-subtitle">{{ search_message }}</h5>
            <p class="card-text">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Контактный номер</th>
                    <th scope="col">Действия</th>

                </tr>
                </thead>
                <tbody>
                {%for persone in persones%}
                <tr>
                    <th scrope="row">{{ persone.pk}}</th>
                    <th>{{ persone.name}}</th>
                    <th>{{persone.all_phones_to_string}}</th>
                    <th><a href="{% url 'delete' persone.pk %}" class="btn btn-danger">Удалить</a></th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </p>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>

</body>
</html>